.Product{
    color: white;
    background-color: black;
    border : 1px solid grey;
    border-radius: 5px;
    padding: 15px;
}

.Desciption{

    background-color:burlywood;
    color: black;
    padding: 7px;
    border-radius: 1rem;
    margin: 1rem;
    height : auto;
    width: 200px;
    
    
}

.Price{
    background-color:antiquewhite;
    border-radius: 15px solid antiquewhite;
    margin : 1rem;
    padding: 0.7rem;
    

}